Source: stsbl-backend-server
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.1
Homepage: https://it.stsbl.de/

Package: stsbl-backend-server
Architecture: all
Depends: avahi-utils,
         bash-completion,
         busybox-static,
         command-not-found,
         console-setup,
         dosfstools,
         eject,
         git,
         gruelag-remotesupport,
         iserv-avahi,
         iserv-backup2-client,
         iserv-config,
         iserv-config-file,
         iserv-netmon,
         iserv-regdns,
         iserv-remote-support-list,
         iserv-server-ferm,
         iserv-ssh-2fa,
         iserv-ssl,
         iserv-update,
         iserv-utils-nonfree,
         keyboard-configuration,
         kpartx,
         libnss-mdns,
         libnss-myhostname,
         libpam-systemd,
         stsbl-iserv-config-ipv6,
         stsbl-iserv-cron-reload,
         stsbl-iserv-dev-vim,
         stsbl-iserv-gnupg-forwarding,
         stsbl-iserv-server-systemd-resolved | stsbl-iserv-dns-over-tls | iserv-portal,
         stsbl-keyring,
         stsbl-repoconfig,
         traceroute,
         zsh,
         ${misc:Depends},
         ${perl:Depends}
Provides: iserv-server
Description: Stadtteilschule Blankenese: Backend-Server
 Konfiguration und Abhängigkeiten für die IServ-basierten
 Server der Stadtteilschule Blankenese.
Tag: suite::iserv, role::server
