Source: stsbl-backend-server
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.1
Homepage: https://it.stsbl.de/

Package: stsbl-backend-server
Architecture: all
Depends: gruelag-remotesupport,
         stsbl-backend-server-common,
         ${misc:Depends},
         ${perl:Depends}
Provides: iserv-server
Description: Stadtteilschule Blankenese: Backend-Server
 Konfiguration und Abhängigkeiten für die IServ-basierten
 Server der Stadtteilschule Blankenese.
 .
 Konfiguration der gemeinsamen Abhängigkeiten und des Fernwartungszugriffs.
Tag: suite::iserv, role::server

Package: stsbl-backend-server-common
Architecture: all
Breaks: stsbl-backend-server (<< 21.12.14),
Replaces: stsbl-backend-server (<< 21.12.14),
Depends: arch-install-scripts,
         avahi-utils,
         bash-completion,
         bridge-utils,
         busybox-static,
         command-not-found,
         console-setup,
         debconf-utils,
         dosfstools,
         eject,
         git,
         ifenslave,
         irqbalance,
         iserv-avahi,
         iserv-backup2-client,
         iserv-config,
         iserv-config-file,
         iserv-netmon,
         iserv-regdns,
         iserv-remote-support-list,
         iserv-server-fail2ban,
         iserv-server-ferm,
         iserv-ssh-2fa,
         iserv-ssl,
         iserv-update (>= 22.05.24-1),
         iserv-utils-nonfree,
         keyboard-configuration,
         kpartx,
         ksmtuned,
         libnss-mdns,
         libnss-myhostname,
         libpam-systemd,
         numad,
         popularity-contest,
         stsbl-iserv-config-ipv6,
         stsbl-iserv-cron-reload,
         stsbl-iserv-dev-vim,
         stsbl-iserv-gnupg-forwarding,
         stsbl-iserv-server-systemd-resolved | stsbl-iserv-dns-over-tls | iserv-portal,
         stsbl-keyring,
         stsbl-repoconfig,
         traceroute,
         tuned,
         tuned-utils,
         tuned-utils-systemtap,
         zsh,
         ${misc:Depends},
         ${perl:Depends}
Provides: iserv-server
Description: Stadtteilschule Blankenese: Backend-Server
 Konfiguration und Abhängigkeiten für die IServ-basierten
 Server der Stadtteilschule Blankenese.
 .
 Gemeinsame Abhängigkeiten und Konfiguration ohne Fernwartungszugriff.
Tag: suite::iserv, role::server
